.navbar-brand {
  padding: 10px 15px;
}

.navbar-brand img {
  width: 150px;
}

.left_side {
  margin-left: 12%;
}

.my_btn {
  border: 1px solid #0060FF;
  background-color: #FFF;
  border-radius: 5px;
  margin-top: 8px;
  color: #0060FF;
}

.navbar-default {
    background-color: #FFF;
    border-color: #e7e7e7;
    background-image: none;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #031B4E;
}

.container-fluid {
  background-image: url("../img/bg-sea.svg");
  height: 100%;
}

.jumbo {
padding: 10% 0;
}

.jumbo h1 {
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.jumbo p {
  font-size: 20px;
}

.jumbo h2 {
  color: #031B4E;
  font-weight: bold;
}

.jumbo h3 {
  font-weight: bold;
}

#registration-form {
  margin-top: 30px;
  border-radius: 10px;
  width: 40%;
  margin-left: 60px;
}

.form {
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #000;
}

.customers_stories {
  padding: 20px 0;
}

.customers_stories h4 {
  padding-bottom: 25px;
  color: #808080;
}

.customers_stories h5 {
  padding-top: 30px;
}

.services {
  padding: 30px 0;
}

.services h1 {
  font-weight: bold;
  font-size: 30px;
}

.services p {
  color: #808080;
  font-weight: bold;
  font-style: 30px;
}

.list{
  border-left: 2px solid grey;
  margin-top: 50px;
  list-style: none;
  margin-left: 50%;
}

.list li {
  padding-bottom: 10px;
  padding-left: 10px;
}

.designed_for {
  padding: 30px 0;
}

.designed_for h1 {
  font-weight: bold;
  padding-bottom: 10px;
}

.designed_for p {
  font-weight: bold;
  padding-bottom: 10px;
}

.designed_for img {
  width: 60vw;
}

.designed_for ul li {
  display: inline-block;
  padding: 5px;
  border: 1px solid blue;
  border-radius: 100%;
}

.designed_for p:last-child {
  padding-top: 20px;
}

.feature {
  padding: 30px 0;
}

.feature h2 {
  font-weight: bold;
  padding-bottom: 20px;
}

.feature h3 {
  font-weight: bold;
  font-size: 18px;
}

.feature a {
  text-decoration: none;
}

#special {
  background-color: blue;
}

.world {
  background-image: url(../img/bg-map.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  color: #FFF;
  padding: 10% 0;
}

.world h1 {
  margin-bottom: 50px;
}


.dev_team h1 {
  font-weight: bold;
  padding: 30px 0;
}

.dev_team ul li {
  display: inline-block;
  padding: 5px;
  border: 1px solid blue;
  border-radius: 100%;
}

.dev_team .box img {
  width: 50%;
}

.testimonial {
  width: 50%;
}

.get_started {
  background-color: #0034AE;
  padding: 25px 0;
}

.get_started h2 {
  margin-top: 0;
}

.get_started button {
  font-weight: bold;
}

.made_info {
  padding: 50px 0;
}

.made_info ul .social {
  display: inline-block;
}

.made_info ul li {
  list-style: none;
  font-weight: bold;
  padding-bottom: 6px;
}

.made_info ul li a{
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.social a i {
  color: #808080;
  font-size: 18px;
  padding-right: 10px;
  padding-left: 0;
}

ul {
  padding-inline-start: 0;
}

.contact {
  font-size: 50px;
  color: blue;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.testimonial img {
  width: 50%;
}

.testimonial {
  position: relative;
  margin-bottom: 25px;
  padding: 20px 0;
}

.arrow1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}

.arrow2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}

.help_chat {
    position: relative;
    background: #ffffff;
    color: #000000;
    font-family: Times New Roman;
    font-size: 13px;
    line-height: 30px;
    box-shadow: 1px 0px 11px 0px #A3A3A3;
    text-align: center;
    width: 258px;
    height: 55px;
    border-radius: 10px;
    padding: 0px;
}
.help_chat:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #ffffff;
    border-width: 11px 0 11px 20px;
    top: 68%;
    right: -20px;
    margin-top: -11px;
}

.help {
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: inline-block;
}

.help .help_chat {
  display: inline-block;
}

.help .info {
  display: inline-flex;
  position: relative;
  left: 25px;
  font-size: 40px;
  color: #046F85;
}


@media all and (max-width:767px) {

  .list{
    margin-left: 10%;
  }

  .second_list {
    margin-top: 40px;
  }
}

/* Utility */

.bg_grey {
  background-color: #F3F5F9;
}

.bg_white {
  background-color: #FFF;
}

.bg_darkblue {
  background-color: #031B4E;
}

.bg_blue {
  background-color: #0034AE;
}

.color_white {
  color: #FFF;
}

.color_blue {
  color: #0034AE;
}

.color_darkblue {
  color: #031B4E;
}

.color_grey {
  color: #808080;
}

.centered {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.arrow_grey {
  color: #808080;
}

.arrow_blue {
  color: #031B4E;
}

.arrow {
  font-size: 25px;
}

.line_bottom {
  border-bottom: 1px solid #FFF;
}
