.navbar-brand {
  padding: 10px 15px;
}

.navbar-brand img {
  width: 150px;
}

.left_side {
  margin-left: 12%;
}

.my_btn {
  border: 1px solid #0060FF;
  background-color: #FFF;
  border-radius: 5px;
  margin-top: 8px;
  color: #0060FF;
}

.navbar-default {
    background-color: #FFF;
    border-color: #e7e7e7;
    background-image: none;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #031B4E;
}

.container-fluid {
  background-image: url("../img/bg-sea.svg");
  height: 100vh;
}

.jumbo {
  padding-top: 10%;
}

.jumbo h1 {
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.jumbo p {
  font-size: 20px;
}

.jumbo h2 {
  color: #031B4E;
  font-weight: bold;
}

.jumbo h3 {
  font-weight: bold;
}

#registration-form {
  margin-top: 30px;
  border-radius: 10px;
  width: 40%;
  margin-left: 60px;
}

.form {
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #000;
}

.customers_stories {
  padding: 20px 0;
}

.customers_stories h4 {
  padding-bottom: 25px;
  color: #808080;
}

.customers_stories h5 {
  padding-top: 30px;
}

.services {
  padding: 30px 0;
}

.services h1 {
  font-weight: bold;
  font-size: 30px;
}

.services p {
  color: #808080;
  font-weight: bold;
  font-style: 30px;
}

.list{
  border-left: 2px solid grey;
  margin-top: 80px;
}
.list p {
  padding-bottom: 10px;
}

.options {
  margin-top: 30px;
  padding-bottom: 20px;
  font-size: 15px;
}

.designed_for {
  padding: 30px 0;
}

.designed_for h1 {
  font-weight: bold;
  padding-bottom: 10px;
}

.designed_for p {
  font-weight: bold;
  padding-bottom: 10px;
}

.designed_for img {
  width: 60vw;
}

.designed_for ul li {
  display: inline-block;
  padding: 5px;
  border: 1px solid blue;
  border-radius: 100%;
}

.designed_for p:last-child {
  padding-top: 20px;
}

.feature {
  padding: 20px 0;
}

.feature h2 {
  font-weight: bold;
  padding-bottom: 20px;
}

.feature h3 {
  font-weight: bold;
  font-size: 18px;
}

.feature a {
  text-decoration: none;
}

#special {
  background-color: blue;
}

.world {
  background-image: url(../img/bg-map.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  color: #FFF;
  padding: 25px 0;
}

.world .row{
  margin-top: 150px;
}

.world ul li {
  display: inline-block;
  padding-bottom: 6px;
}

.world ul {
  border-bottom: 1px solid #FFF;
}

.world ul li p {
  display: inline-block;
  text-align: center;
}




.provaaaa {
  margin-left: 65%;
}


.dev_team ul li {
  display: inline-block;
  padding: 5px;
  border: 1px solid blue;
  border-radius: 100%;
}

.get_started {
  background-color: #0034AE;
}

.made_info ul .social {
  display: inline-block;
}

.made_info ul li {
  list-style: none;
}

@media all and (max-width:767px) {
  .container-fluid {
    background-image: url("../img/bg-sea.svg");
    height: 150vh;
  }

  #registration-form {
    margin-top: 30px;
    border-radius: 10px;
    width: 60%;
    margin-left: 60px;
  }

  .second_list {
    padding-top: 40px;
  }
}

/* Utility */

.bg_grey {
  background-color: #F3F5F9;
}

.bg_white {
  background-color: #FFF;
}

.bg_darkblue {
  background-color: #031B4E;
}

.bg_blue {
  background-color: #0034AE;
}

.color_white {
  color: #FFF;
}

.color_blue {
  color: #0034AE;
}

.color_darkblue {
  color: #031B4E;
}

.color_grey {
  color: #808080;
}

.centered {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.check_grey {
  font-size: 25px;
  color: #808080;
}

.check_blue {
  color: #031B4E;
}
